pipeline/pl_azure_to_blob_5_tables.json
{
	"name": "pl_azure_to_blob_5_tables",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from akdb.INFORMATION_SCHEMA.TABLES where table_type='BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LS_sqlout30",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_SQLDBOUTPUT",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "tablename1",
												"type": "String",
												"value": "country",
												"direction": "Input"
											},
											{
												"name": "tablename2",
												"type": "String",
												"value": "state",
												"direction": "Input"
											},
											{
												"name": "tablename3",
												"type": "String",
												"value": "college",
												"direction": "Input"
											}
										],
										"type": "Query",
										"text": "alter procedure gettables(\r\n    @tablename1 varchar(max),\r\n    @tablename2 varchar(max),\r\n    @tablename3 varchar(max)\r\n)\r\nas\r\nbegin\r\nselect * from country\r\nselect * from state\r\nselect * from college\r\nend\r\n\r\nexec gettables @tablename1='country',@tablename2='state',@tablename3='college'"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-04-17T03:14:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}